* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  width: 80%;
  height: 50%;

  margin: 150px auto 0;

  perspective: 1000px;

}

.card {
  position: relative;

  width: 70px;
  height: 70px;
  margin: 5px 5px;


  border-radius: 50%;

  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;

}

.card:active {
  transform: scale(.9);
  transition: transform .2s;
}

.front-side,
.back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  backface-visibility: hidden;
}

.front-side {
  border: black 1px solid;
  border-radius: 50%;
}

.back-side {
  transform: rotateY(180deg);
}

.flip-card {
  transform: rotateY(180deg);
}

.table {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 230px;
  height: 150px;
  margin-top: 5px;

  text-align: center;

  font-family: 'Press Start 2P', cursive;
}

.win {
  font-size: 20px;
  margin: 10px auto 0px;
}

.time {
  font-size: 15px;
  margin: 10px auto 0px;
  padding-bottom: 7px;
}

.restart {
  font-family: 'Press Start 2P', cursive;
  padding: 10px 22px;
  margin: 12px auto 0px;
  font-size: 10px;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 360px) and (orientation: portrait) {
  .game {
    width: 85%;
    height: 50%;
    margin: 160px auto 0;
  }

  .card {
    width: 70px;
    height: 70px;
    margin: 10px 15px;
  }

  .table {
    width: 300px;
    height: 150px;
    margin-top: 5px;
  }

  .win {
    font-size: 25px;
    margin: 0px auto 5px;
  }

  .time {
    font-size: 15px;
    margin: 15px auto 5px;
  }

  .restart {
    padding: 10px 15px;
    margin: 9px auto 0px;
    font-size: 12px;
  }
}